
  <div style="text-align:center; background-color: lightcoral">
    <h1 style="margin-bottom: 0px !important;"> {{ title }}</h1>
  </div>
  <div class="row" style="background-color: lightblue; text-align: center;">
    <div class="col">Initial Budget</div>
    <div class="col">Emergency Funds</div>
    <div class="col">Employer-Sponsored Matching Funds</div>
    <div class="col">Debt</div>
    <div class="col">Savings</div>
  </div>

<!-- <app-info></app-info> -->

<router-outlet></router-outlet>
