
  <div class="headerDiv">
    <h1> <p>{{ title }}</h1>
  </div>
  <div class="row" style="text-align: center;">
    <div class="col g1 tracker" [class.active]="budgetActive">Initial Budget</div>
    <div class="col g2 tracker" [class.active]="eFundActive">Emergency Funds</div>
    <div class="col g3 tracker" [class.active]="empFundActive">Employer-Sponsored Matching Funds</div>
    <div class="col g4 tracker" [class.active]="debtActive">Debt</div>
    <div class="col g5 tracker" [class.active]="savingsActive">Savings</div>
  </div>

<!-- <app-info></app-info> -->

<router-outlet></router-outlet>
