.active {
  border: 4px solid black;
}

.headerDiv {
  text-align:center;
  background-color: #388E3C;
  color: white;
  height:100px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-bottom: 0px !important;
  font-family:Lato;
  padding-top: 1.1%;
}
