<div class="container">

  <div class="card cardShadow" style="margin-top: 40px;">
    <div class="card-body">
      <h2 class="card-title">Emergency Fund</h2>
      <p *ngIf="netExpenses < 0;"> It looks like you have a net negative income. In order to establish an emergency fund, you will have to reassess where spending is necessary in order to net a positive monthly income.      <p *ngIf="netExpenses < 1000 && netExpenses >=0; else elseBlock;" class="card-text">Now that you have some disposable income, make sure to set all ${{netExpenses}} aside into an emergency fund.</p>
      <ng-template #elseBlock>
        <p class="card-text">After you start to gain some disposable income, make sure to set as much of it as possible, each month,
          into an emergency fund.</p>
      </ng-template>
      <p class="card-text">After a couple months, you will have enough to be able to cover a full month of expenses in case of emergency.</p>

      <h2 class="card-title" style="margin-top: 50px">Non-Essential Bills</h2>
      <p class="card-text">Non-Essential Bills include things like paying for cable, phone, internet, streaming
        services, and so on.</p>
      <p class="card-text">These are things that are not really necessary but can be accommodated for once enough
        disposable income is saved.</p>
      <h2 class="card-title" style="margin-top: 50px;">Moving Forward</h2>
      <p class="card-text">Now that you have established your budget and know where to cut back or add funds, you're
        ready to start increasing your savings in order to pay off debt.</p>
      <button type="button" [routerLink]="['/employer-fund']" class="btn btn-outline-success btn-lg margin4">Continue to Employer Funds</button>
      <button type="button" (click)="goBack()" class="btn btn-outline-success btn-lg margin4">Back</button>

    </div>
  </div>
</div>
