<div class="container">
  <div class="card cardShadow" style="margin-top: 40px;">
    <div class="card-body" style="text-align: center;">
      <h5 class="card-title">Info</h5>
      <p class="card-text" >Welcome to MoneyFlow. Use this interactive tool to get a handle on your financial literacy. You'll initally establish a budget in order to assess your spending and goals. By setting and moving towards achieving these goals, you'll learn to build emergency funds, capitalize on employer funding, eliminate debt, and begin to save for the future. By establishing a budget, you will be able to decide what monthly  </p>
      <button type="button" [routerLink]="['/budget']" class="btn btn-outline-success btn-lg">Let's Start Budgeting</button>
    </div>
  </div>
</div>
