<div class="container">
  <div class="card cardShadow" style="margin-top: 40px;">
    <div class="card-body" >
      <div style="text-align: center;">
         <h5 class="card-title">Info</h5>
         <br>
         <p class="card-text" >Welcome to MoneyFlow! Use this interactive tool to get a handle on your financial literacy. You'll initally create a budget in order to evaluate your spending. By assessing your budget, you'll learn to establish and build emergency funds, capitalize on employer-sponsored funding, eliminate debt, and begin to save for the near and distant future. </p>
         <br>

      </div>
      <ul style="list-style-type:disc;">
        <li>Budgeting - an estimate of expected income and expense for a given period in the future.</li>
        <br>
        <li>Emergency Funds - a readily available source of money that is saved specifically to help navigate financial dilemmas such as job loss, a debilitating illness, or a major repair to your home or car. </li>
        <br>
        <li>Employer-Sponsored Funds - a type of benefit plan offered to employees which cover an array of services including retirement savings. </li>
        <br>
        <li>Debt Reduction - the process of beginning to pay off money that is owed or due. </li>
        <br>
        <li>Start Savings - the process of maximizing the money left after all expenses have been paid</li>
        <br>
      </ul>
      <div class="text-center">
        <button type="button" [routerLink]="['/budget']" class="btn btn-outline-success btn-lg margin4">Let's Start Budgeting</button>
      </div>
    </div>
  </div>
</div>
