.active {
  border: 4px solid #1b5e20;
}

.headerDiv {
  text-align:center;
  background-color: #388E3C;
  color: white;
  height:240px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-bottom: 0px !important;
  font-family:Lato;
  padding-top: 1.1%;
}

.g1 {
  background-color: white;
  border-bottom-left-radius: 55pt 55pt;
}

.g2 {
  background-color: #F5F5F5;
}

.g3 {
  background-color: white;
}

.g4 {
  background-color: #F5F5F5;
}

.g5 {
  border-bottom-right-radius: 55pt 55pt;
  background-color: white;
}

.moneyFlowLogo {
  cursor: pointer;
}

.tracker {
  height:50px;
  color:#388E3C;
  font-weight: bold;
  line-height: 2.5;
}

.footer {
  text-align: center;
  width:100%;
  height:30px;
  font-weight: bold;
  padding-top: 0.3%
}

.footerLeft {
  background-color: #388E3C;
  color:white;
}

.footerRight {
  background-color: white;
  color: #388E3C;
}
