<div class="container">
  <div class="card" style="margin-top: 40px;">
    <div class="card-body">
      <h5 class="card-title">This is debt</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Budget</li>
      <li class="list-group-item">Emergency Fund</li>
      <li class="list-group-item">Employer Funding</li>
      <li class="list-group-item">Debt Payment</li>
      <li class="list-group-item">Start Saving</li>
      <li class="list-group-item">Goals?</li>
    </ul>
    <div class="card-body">
      
      <button type="button" [routerLink]="['/savings']" class="btn btn-primary">Move to savings</button>
      <button type="button" (click) ="goBack()" class="btn btn-secondary">Back</button>
    </div>
  </div>
</div>