<div class="container">
  <div class="card" style="margin-top: 40px;">
    <div class="card-body" style="text-align:center;">
      <h5 class="card-title">Employer Fund</h5>
      <p class="card-text">Companies often provide other forms of compensation other than salary to an employee. This can come in the form of retirement accounts, equity in a company's IPO, Employee Stock Ownership Plan (ESOP), etc.</p>
      <p class="card-text">Please select Yes if your employer offers any sort of plan or account with an employer match. If not, select No</p>
      <div class="row content-justify-md">
        <button type="button" class="btn btn-primary btn-lg">Yes</button>
        <button type="button" class="btn btn-primary btn-lg">No</button>
      </div>
      <br /><br />
      <div class="row">
        <button type="button" [routerLink]="['/debt']" class="btn btn-primary">Move to debt</button>
        <button type="button" (click) ="goBack()" class="btn btn-secondary">Back</button>
      </div>
    </div>
  </div>
</div>
