.invalidText {
  color: red;
}

.cardShadow {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.g1 {
  background-color: #C8E6C9;
  border-bottom-left-radius: 55pt 55pt;
}

.g2 {
  background-color: #66BB6A;
}

.g3 {
  background-color: #C8E6C9;
}

.g4 {
  background-color: #66BB6A;
}

.g5 {
  background-color: #C8E6C9;
  border-bottom-right-radius: 55pt 55pt;
}

.tracker {
  height:50px;
  padding-top: 0.5%;
  color:black;
  border: 4px solid white;
}
